microservice-chart:
  namespace: "payopt"
  nameOverride: ""
  fullnameOverride: "payment-options"
  image:
    repository: ghcr.io/pagopa/pagopa-payment-options-service
    tag: "0.9.3"
    pullPolicy: Always
  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /q/health/live
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /q/health/ready
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080
  ingress:
    create: true
    host: "payopt.itn.internal.uat.platform.pagopa.it"
    path: /payment-options-service/(.*)
    servicePort: 8080
  serviceAccount:
    name: "payopt-workload-identity"
  azure:
    workloadIdentityClientId: <workload-identity-client-id-set-automatically-by-gha>
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    readOnlyRootFilesystem: false
    allowPrivilegeEscalation: true
    capabilities:
      drop:
        - all
  tmpVolumeMount:
    create: true
    mounts:
      - name: temp
        mountPath: /temp
      - name: logs
        mountPath: /logs
  resources:
    requests:
      memory: "512Mi"
      cpu: "0.5"
    limits:
      memory: "728Mi"
      cpu: "1.5"
  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 3
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
      - type: memory
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "70"
  envConfig:
    APP_ENVIRONMENT: "uat"
    WEBSITE_SITE_NAME: 'payment-options-service' # required to show cloud role name in application insights
    APP_LOGGING_LEVEL: 'INFO'
    DEFAULT_LOGGING_LEVEL: 'INFO'
    QUARKUS_OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.otel.svc:4317"
    QUARKUS_OTEL_TRACES_SAMPLER: "traceidratio"
    QUARKUS_OTEL_TRACES_SAMPLER_ARG: "0.5"
    QUARKUS_OTEL_RESOURCE_ATTRIBUTES: "deployment.environment=uat"
    APICONFIG_CACHE_URL: 'https://api.uat.platform.pagopa.it/api-config-cache/p/v1'
    EC_APIM_FORWARDER_ENDPOINT: 'https://api.uat.platform.pagopa.it'
    EC_APIM_PATH: '/pagopa-node-forwarder/api/v1'
    CACHE_EVT_HOST: 'pagopa-u-weu-core-evh-ns04.servicebus.windows.net:9093'
    CACHE_EVT_TOPIC: 'nodo-dei-pagamenti-cache'
    VERIFY_KO_EVT_HOST: 'pagopa-u-weu-core-evh-ns03.servicebus.windows.net:9093'
    VERIFY_KO_EVT_TOPIC: 'nodo-dei-pagamenti-verify-ko'
    VERIFY_RE_EVT_HOST: 'pagopa-u-itn-payopt-evh.servicebus.windows.net:9093'
    VERIFY_RE_EVT_TOPIC: 'pagopa-payopt-evh'
    GPD_REST_ENDPOINT: 'https://api.uat.platform.pagopa.it/gpd/api/v1'
  envSecret:
    # required
    APPLICATIONINSIGHTS_CONNECTION_STRING: 'app-insight-connection-string'
    KAFKA_EH_CACHE_JAAS_CONFIG: "ehub-u-nodo-pagamenti-cache-jaas-config"
    KAFKA_VERIFY_KO_JAAS_CONFIG: "ehub-u-nodo-dei-pagamenti-verify-ko-jaas-config"
    KAFKA_EH_RE_JAAS_CONFIG: "ehub-u-payment-options-re-jaas-config"
    APICONFIG_SUBKEY: "api-config-sub-key"
    EC_APIM_SUBKEY: "forwarder-sub-key"
    QUARKUS_OTEL_EXPORTER_OTLP_HEADERS: "otel-auth-bearer"
  keyvault:
    name: "pagopa-u-itn-payopt-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
  canaryDelivery:
    create: false
    ingress:
      create: true
      canary:
        type: header
        headerName: X-Canary
        headerValue: canary
        weightPercent: 0
    service:
      create: true
    deployment:
      create: true
      image:
        repository: ghcr.io/pagopa/pagopa-payment-options-service
        tag: "0.0.0"
        pullPolicy: Always
      envConfig: {}
      envSecret: {}
